p {
    font: 1em monospace;
}

p.header {
    font-weight: bold;
}

.highlight, .pass, .fail {
    color: white;
    font-weight: bold;
    padding: 5px;
}

.highlight {
    color: black;
    background: #cccccc;
}

.pass {
    background: #007700;
}

.fail {
    background: red;
}
