<link rel="stylesheet" type="text/css" href="test-object.css" />
<body></body>
<script type="text/javascript" src="../js/object.js"></script>
<script type="text/javascript" src="test-object.js"></script>
