<link rel="stylesheet" type="text/css" href="../linker.css" />

<p>Same Line is <b>True</b></p>
<p>&nbsp;&nbsp;Hide Marked is <b>False</b></p>
<ul class="links" id="display"></ul>
<p>&nbsp;&nbsp;Hide Marked is <b>True</b></p>
<ul class="links" id="display2"></ul>
<p>Same Line is <b>False</b></p>
<p>&nbsp;&nbsp;Hide Marked is <b>False</b></p>
<ul class="links" id="display3"></ul>
<p>&nbsp;&nbsp;Hide Marked is <b>True</b></p>
<ul class="links" id="display4"></ul>

<script type="text/javascript" src="../js/group.js"></script>
<script type="text/javascript" src="../js/html.js"></script>
<script type="text/javascript" src="test-html.js"></script>
