body {
    font-family: Monospace;
}

.text {
    display: block;
    width: 99%;
    height: 20em;
    resize: none;
}

.text:focus {
    background: #fff;
}

.text, .button {
    font: 1em Monospace;
    background: #eee;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.button:hover {
    cursor: pointer;
    background: #fff;
}

iframe.help {
    width: 98%;
    height: 100%;
}

iframe.help, div.options {
    display: none;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

.canvas-checkbox {
    margin: 0 5px 0 0;
    position: relative;
    top: 2px;
}

ul.links {
    margin: 5px;
    padding: 0;
}

ul.links li {
    list-style: none;
    margin: 0 0 -1px 0;
    padding: 5px;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

ul.links .xbtn {
    color: #777;
    margin-right: 5px;
    cursor: pointer;
}

ul.links .xbtn:hover {
    color: #eee;
}

ul.links .title {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

ul.links .title-vertical {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

ul.links .link-container {
    display: inline-block;
}

ul.links .link-container-vertical {
    display: block;
}

ul.links a {
    margin-right: 10px;
}

ul.links a.viewed-link {
    text-decoration: none;
    color: black;
}
